<ion-content>
  <ion-row>
    <ion-col>
      <h3>Peliculas Nuevas</h3>
    </ion-col>
  </ion-row>

  <app-slideshow-backdrop [peliculasRecientes]="peliculasRecientes"></app-slideshow-backdrop>
  <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
   </ion-row>
  <app-slideshow-poster [peliculasRecientes]="peliculasRecientes"></app-slideshow-poster>

  <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
   </ion-row>

 <app-slideshow-pares [populares]="populares" (cargarMas)="cargarMas()"></app-slideshow-pares>
</ion-content>
<!-- 

    <ion-slides  [options]="slideOpts">

        <ion-slide *ngFor="let pelicula of peliculasRecientes;">
          <img [src]="pelicula.backdrop_path | imagen">
        </ion-slide>
    
      </ion-slides>
-->
